@font-face {
	font-family: 'Cinzel', serif;
	src: 	url('../fonts/Cinzel-Regular.ttf') format('truetype'),
			url('../fonts/Cinzel-Regular.woff') format('woff'),
			url('../fonts/Cinzel-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Znikomit', serif;
	src: 	url('../fonts/Znikomit.otf') format('opentype'),
			url('../fonts/Znikomit.woff') format('woff'),
			url('../fonts/Znikomit.woff2') format('woff2');
}
@font-face {
	font-family: 'Magnolia Sky', serif;
	src: 	url('../fonts/magnolia_sky.ttf') format('truetype'),
			url('../fonts/magnolia_sky.woff') format('woff'),
			url('../fonts/magnolia_sky.woff2') format('woff2');
}